### CODEOWNERS - used to auto-assign PR reviewers in Github
### Mainly means that listed users get notifications from PRs/code changes
### For developers - but other team members can add themselves if wanted

## All code
* @larsekhansen @pooriamehregan

## Specific parts of the repo
# Prods Umbraco uSync schema. See apps/cms-umbraco/uSync/README.md
/apps/cms-umbraco/uSync/ @larsekhansen

# Other teams do this to adhere to Team Sikkerhet's filtrering,
/.github/CODEOWNERS @digdir/team-ki-norge
