<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e57f1c0-0004-4000-8000-000000000000" Alias="Testfixtur: brutte referanser" Level="2">
  <Info>
    <Parent Key="cadd506a-4470-4f3d-9a66-3a4369bdc238">Artikler </Parent>
    <Path>/Artikler/TestfixturBrutteReferanser</Path>
    <Trashed>false</Trashed>
    <ContentType>artikkel</ContentType>
    <CreateDate>2026-08-13T09:00:00</CreateDate>
    <NodeName Default="Testfixtur: brutte referanser" />
    <SortOrder>903</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tittel>
      <Value><![CDATA[Testfixtur: brutte referanser]]></Value>
    </tittel>
    <ingress>
      <Value><![CDATA[Peker på media og noder som ikke finnes. Last denne bevisst, den kan ta ned Delivery API-et. Se README.]]></Value>
    </ingress>
    <bakgrunn>
      <Value><![CDATA[{
  "label": "Brand 1",
  "value": "#dfc2d4"
}]]></Value>
    </bakgrunn>
    <slug>
      <Value><![CDATA[testfixtur-brutte-referanser]]></Value>
    </slug>
    <artikkelBilde>
      <Value><![CDATA[[
  {
    "key": "7e57f1c0-0004-4000-8000-000000000901",
    "mediaKey": "00000000-dead-4000-8000-000000000000",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </artikkelBilde>
    <innhold>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c063d005-38e9-4469-93f7-0dd71d961a76",
      "key": "7e57f1c0-0004-4000-8000-000000000002",
      "values": [
        {
          "alias": "bilde",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7e57f1c0-0004-4000-8000-000000000902",
              "mediaKey": "00000000-dead-4000-8000-000000000000",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "bildeAlt",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Bilde som ikke finnes"
        },
        {
          "alias": "bildetekst",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Mediepekeren viser til en nøkkel som ikke er i mediebiblioteket"
        }
      ]
    },
    {
      "contentTypeKey": "c5ddaf44-3abe-41a7-8b47-e1b82c66d95e",
      "key": "7e57f1c0-0004-4000-8000-000000000003",
      "values": [
        {
          "alias": "innhold",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "<p>Lenke til en node som ikke finnes: <a href=\"/{localLink:00000000-dead-4000-8000-000000000000}\">slettet side</a></p>"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7e57f1c0-0004-4000-8000-000000000002",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7e57f1c0-0004-4000-8000-000000000003",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7e57f1c0-0004-4000-8000-000000000002",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7e57f1c0-0004-4000-8000-000000000003",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </innhold>
  </Properties>
</Content>