<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e57f1c0-0002-4000-8000-000000000000" Alias="Testfixtur: minimal" Level="2">
  <Info>
    <Parent Key="cadd506a-4470-4f3d-9a66-3a4369bdc238">Artikler </Parent>
    <Path>/Artikler/TestfixturMinimal</Path>
    <Trashed>false</Trashed>
    <ContentType>artikkel</ContentType>
    <CreateDate>2026-08-13T09:00:00</CreateDate>
    <NodeName Default="Testfixtur: minimal" />
    <SortOrder>901</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tittel>
      <Value><![CDATA[Testfixtur: minimal]]></Value>
    </tittel>
    <ingress>
      <Value><![CDATA[Bare påkrevde felt utfylt. Alt valgfritt står tomt, inkludert innhold, toppbilde, slug og alle SEO-felt.]]></Value>
    </ingress>
    <bakgrunn>
      <Value><![CDATA[{
  "label": "Brand 1",
  "value": "#dfc2d4"
}]]></Value>
    </bakgrunn>
  </Properties>
</Content>