<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e57f1c0-0001-4000-8000-000000000000" Alias="Testfixtur: alle moduler" Level="2">
  <Info>
    <Parent Key="cadd506a-4470-4f3d-9a66-3a4369bdc238">Artikler </Parent>
    <Path>/Artikler/TestfixturAlleModuler</Path>
    <Trashed>false</Trashed>
    <ContentType>artikkel</ContentType>
    <CreateDate>2026-08-13T09:00:00</CreateDate>
    <NodeName Default="Testfixtur: alle moduler" />
    <SortOrder>900</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tittel>
      <Value><![CDATA[Testfixtur: alle moduler]]></Value>
    </tittel>
    <ingress>
      <Value><![CDATA[Én artikkel med hver eneste blokktype som artikkel.innhold tillater. Faller en modul til Unsupported, ser du det her først.]]></Value>
    </ingress>
    <bakgrunn>
      <Value><![CDATA[{
  "label": "Brand 1",
  "value": "#dfc2d4"
}]]></Value>
    </bakgrunn>
    <artikkelBilde>
      <Value><![CDATA[[
  {
    "key": "7e57f1c0-0001-4000-8000-000000000901",
    "mediaKey": "07de75b9-05d5-487b-ba29-452ad864b3cd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </artikkelBilde>
    <bildeAlt>
      <Value><![CDATA[Toppbilde for fixturen]]></Value>
    </bildeAlt>
    <slug>
      <Value><![CDATA[testfixtur-alle-moduler]]></Value>
    </slug>
    <innhold>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c5ddaf44-3abe-41a7-8b47-e1b82c66d95e",
      "key": "7e57f1c0-0001-4000-8000-000000000001",
      "values": [
        {
          "alias": "innhold",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "<h2>Brødtekst</h2><p>Vanlig avsnitt med <strong>fet</strong>, <em>kursiv</em> og en <a href=\"/artikler/\">intern lenke</a>.</p><h3>Underoverskrift</h3><ul><li>Punkt én</li><li>Punkt to</li></ul>"
          }
        }
      ]
    },
    {
      "contentTypeKey": "c063d005-38e9-4469-93f7-0dd71d961a76",
      "key": "7e57f1c0-0001-4000-8000-000000000002",
      "values": [
        {
          "alias": "bilde",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7e57f1c0-0001-4000-8000-000000000902",
              "mediaKey": "07de75b9-05d5-487b-ba29-452ad864b3cd",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "bildeAlt",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Alt-tekst for testbildet"
        },
        {
          "alias": "bildetekst",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Bildetekst under bildet"
        }
      ]
    },
    {
      "contentTypeKey": "f6e6bb2f-ea53-4462-8a15-ea4382de55f0",
      "key": "7e57f1c0-0001-4000-8000-000000000003",
      "values": [
        {
          "alias": "tittel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Trekkspill som er lukket"
        },
        {
          "alias": "innhold",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "<p>Innhold som ligger skjult til brukeren klikker.</p>"
          }
        }
      ]
    },
    {
      "contentTypeKey": "4b3cac2f-623b-46ac-a3d4-8caf0276fdf1",
      "key": "7e57f1c0-0001-4000-8000-000000000004",
      "values": [
        {
          "alias": "tittel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Fremheving med bilde og bakgrunn"
        },
        {
          "alias": "tekst",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "layout": {}
            },
            "markup": "<p>Uthevet tekst med anførselstegn og bakgrunnsfarge.</p>"
          }
        },
        {
          "alias": "bilde",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7e57f1c0-0001-4000-8000-000000000904",
              "mediaKey": "07de75b9-05d5-487b-ba29-452ad864b3cd",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "bildeAlt",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Alt-tekst i fremheving"
        },
        {
          "alias": "kilde",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Testkilde"
        },
        {
          "alias": "visAnforselstegn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "visBakgrunn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "250deaaf-6798-41f2-a4c4-4e2a2fc23de2",
      "key": "7e57f1c0-0001-4000-8000-000000000005",
      "values": [
        {
          "alias": "tittel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Prosess med tre steg"
        },
        {
          "alias": "steg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "60a48165-34ef-47b7-a43c-87f214ad29de",
                "key": "7e57f1c0-0001-4000-8000-000000000051",
                "values": [
                  {
                    "alias": "tittel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Første steg"
                  },
                  {
                    "alias": "beskrivelse",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "<p>Beskrivelse av første steg.</p>"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "60a48165-34ef-47b7-a43c-87f214ad29de",
                "key": "7e57f1c0-0001-4000-8000-000000000052",
                "values": [
                  {
                    "alias": "tittel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Andre steg"
                  },
                  {
                    "alias": "beskrivelse",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "<p>Beskrivelse av andre steg.</p>"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "60a48165-34ef-47b7-a43c-87f214ad29de",
                "key": "7e57f1c0-0001-4000-8000-000000000053",
                "values": [
                  {
                    "alias": "tittel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tredje steg"
                  },
                  {
                    "alias": "beskrivelse",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "layout": {}
                      },
                      "markup": "<p>Beskrivelse av tredje steg.</p>"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "7e57f1c0-0001-4000-8000-000000000051",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7e57f1c0-0001-4000-8000-000000000052",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7e57f1c0-0001-4000-8000-000000000053",
                "culture": null,
                "segment": null
              }
            ],
            "layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "7e57f1c0-0001-4000-8000-000000000051",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7e57f1c0-0001-4000-8000-000000000052",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7e57f1c0-0001-4000-8000-000000000053",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "e44ec3b2-10f6-4494-a36b-5177bbc74c45",
      "key": "7e57f1c0-0001-4000-8000-000000000006",
      "values": [
        {
          "alias": "navn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Testbruker Testesen"
        },
        {
          "alias": "stilling",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Testansvarlig"
        },
        {
          "alias": "virksomhet",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Digitaliseringsdirektoratet"
        },
        {
          "alias": "dato",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2026-08-13T09:00:00"
        }
      ]
    },
    {
      "contentTypeKey": "307e019a-bbcf-4211-a09a-ffce2d52d011",
      "key": "7e57f1c0-0001-4000-8000-000000000007",
      "values": [
        {
          "alias": "virksomhet",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Digitaliseringsdirektoratet"
        },
        {
          "alias": "dato",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2026-08-13T09:00:00"
        }
      ]
    },
    {
      "contentTypeKey": "d8b6c846-e796-4e70-afd3-2ca356a0990b",
      "key": "7e57f1c0-0001-4000-8000-000000000008",
      "values": [
        {
          "alias": "tittel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Kontakt"
        },
        {
          "alias": "navn",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Testbruker Testesen"
        },
        {
          "alias": "stilling",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Testansvarlig"
        },
        {
          "alias": "virksomhet",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Digitaliseringsdirektoratet"
        },
        {
          "alias": "epost",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "post@kin.norge.no"
        },
        {
          "alias": "telefon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "22 00 00 00"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7e57f1c0-0001-4000-8000-000000000001",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7e57f1c0-0001-4000-8000-000000000002",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7e57f1c0-0001-4000-8000-000000000003",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7e57f1c0-0001-4000-8000-000000000004",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7e57f1c0-0001-4000-8000-000000000005",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7e57f1c0-0001-4000-8000-000000000006",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7e57f1c0-0001-4000-8000-000000000007",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7e57f1c0-0001-4000-8000-000000000008",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7e57f1c0-0001-4000-8000-000000000001",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7e57f1c0-0001-4000-8000-000000000002",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7e57f1c0-0001-4000-8000-000000000003",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7e57f1c0-0001-4000-8000-000000000004",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7e57f1c0-0001-4000-8000-000000000005",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7e57f1c0-0001-4000-8000-000000000006",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7e57f1c0-0001-4000-8000-000000000007",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7e57f1c0-0001-4000-8000-000000000008",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </innhold>
  </Properties>
</Content>