<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="97e56431-0731-4c67-a68a-a52a210f02b6" Alias="eksempelRelatert" Level="1">
  <Info>
    <Name>Relatert innhold</Name>
    <Icon>icon-link</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>3 kort som peker til relaterte artikler eller veiledninger.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0dfe746b-5fe6-4aa9-a43f-35ed2408c01a</Key>
      <Name>Relatert 1</Name>
      <Alias>relatert1</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Velg artikkel eller veiledning.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="innhold">Innhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c1a83cd2-37ec-43e3-9003-945d42dfddc4</Key>
      <Name>Relatert 2</Name>
      <Alias>relatert2</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Valgfri.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="innhold">Innhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>65e466c3-c9d6-4bd8-abca-07394c9b49fb</Key>
      <Name>Relatert 3</Name>
      <Alias>relatert3</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Valgfri.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="innhold">Innhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>035ccdc2-44b5-4ef0-9d84-15f77d01deb9</Key>
      <Name>Merkelapp 1</Name>
      <Alias>relatertTag1</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Valgfri merkelapp på kort 1.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="innhold">Innhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>51ee8ad5-b4ef-44d2-bea6-bb0c8ceba580</Key>
      <Name>Merkelapp 2</Name>
      <Alias>relatertTag2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Valgfri merkelapp på kort 2.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="innhold">Innhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0625a14d-b7e6-4c51-82a1-89deb1a11076</Key>
      <Name>Merkelapp 3</Name>
      <Alias>relatertTag3</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Valgfri merkelapp på kort 3.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="innhold">Innhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6adda1b0-52ab-427c-941d-94eb76f83afc</Key>
      <Name>Tittel</Name>
      <Alias>tittel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Valgfri overskrift over de relaterte lenkene.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="innhold">Innhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>996dd916-c8a3-40f6-9f7f-099267bcd75c</Key>
      <Caption>Innhold</Caption>
      <Alias>innhold</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>