<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="155ef42b-7977-473f-973d-afb0a9f8bae4" Alias="eksempler" Level="1">
  <Info>
    <Name>Eksempler</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="2f5f2021-3200-43f5-901d-0edeeacfb590" SortOrder="0">eksempel</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>