<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2307b37a-5967-4b2b-ac9e-54e3990e6ac4" Alias="eksempelKontakt" Level="1">
  <Info>
    <Name>Kontakt-boks</Name>
    <Icon>icon-mailbox</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Kontakt-boks med tittel, navn, e-post og stilling.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3f4adb6c-895c-445d-9be0-c367656d055e</Key>
      <Name>E-post</Name>
      <Alias>epost</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kontaktpersonens e-postadresse.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="innhold">Innhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f52e9162-c569-4515-acc5-a16a06dc99e5</Key>
      <Name>Navn</Name>
      <Alias>navn</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kontaktpersonens navn.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="innhold">Innhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>101b8cbc-4fa1-40a2-9799-9a97b3d0fa9f</Key>
      <Name>Stilling</Name>
      <Alias>stilling</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kontaktpersonens stilling/tittel.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="innhold">Innhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>120d5146-c8f6-41a7-b307-ce09d89a9e14</Key>
      <Name>Tittel</Name>
      <Alias>tittel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Eks: 'Ønsker du å dele et eksempel?']]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="innhold">Innhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bc10bab5-b3ef-4e23-9e91-5d6d45bca281</Key>
      <Caption>Innhold</Caption>
      <Alias>innhold</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>