<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c8b5f753-8ff2-4c72-af94-d210767212c0" Alias="faqSamling" Level="1">
  <Info>
    <Name>Ofte stilte spørsmål</Name>
    <Icon>icon-help-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="26092623-65e4-498e-a3b7-86c6de3cca33" SortOrder="0">faq</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>