<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b7cf4f70-ea7f-445f-a42a-dedb2c1e582c" Alias="merkelapper" Level="1">
  <Info>
    <Name>Merkelapper</Name>
    <Icon>icon-tags</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="59de5bd2-8ad5-49bf-a206-b5d8c91fcd10" SortOrder="0">merkelapp</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>