<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="21c348ea-36c5-4021-a8a5-d0ee5d961e7b" Alias="ordbokSamling" Level="1">
  <Info>
    <Name>KI-ordbok</Name>
    <Icon>icon-book-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="131a0a78-bdff-41dc-a08e-eff90281003e" SortOrder="0">ordbokOppslag</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>