<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7b4d8b4e-758c-4c9e-a5f0-7b8f76bfb797" Alias="sider" Level="1">
  <Info>
    <Name>Andre sider</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f7031fad-39e7-4731-a86d-c711afcf1d2b" SortOrder="0">side</ContentType>
    <ContentType Key="61b8d81c-126c-44c6-9544-5faf815e23de" SortOrder="1">omOss</ContentType>
    <ContentType Key="0fea4272-5495-468e-aaa2-ac66aa50fbbd" SortOrder="2">sandkasse</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>