<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1bfc5768-b22a-48f4-8507-934258ed46e8" Alias="tipItem" Level="1">
  <Info>
    <Name>Tips</Name>
    <Icon>icon-lightbulb</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Et tips-kort. Brukes i tre-tips-seksjonen på forsiden.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>85b85289-d0fb-4bd8-b0aa-1e25ae2eabac</Key>
      <Name>Bilde</Name>
      <Alias>tipsBilde</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Valgfritt illustrasjonsbilde]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="innhold">Innhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>49da720a-e31a-4971-9980-5df75b5b6310</Key>
      <Name>Tekst</Name>
      <Alias>tipsTekst</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[1-3 setninger som forklarer tipset]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="innhold">Innhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ab4acef-320e-484f-a592-0a02d7ed677e</Key>
      <Name>Tittel</Name>
      <Alias>tipsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kort, presis tittel — vises som overskrift på tipset]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="innhold">Innhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9630c25a-ba63-4719-bdbc-34c76e952866</Key>
      <Caption>Innhold</Caption>
      <Alias>innhold</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>