<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="61d6c137-47a7-4e80-acba-41813b61fb7a" Alias="veiledninger" Level="1">
  <Info>
    <Name>Veiledning</Name>
    <Icon>icon-book-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="87949778-2f58-4624-a7f9-f3b3afb83d5e" SortOrder="0">veiledningGuide</ContentType>
    <ContentType Key="0af083ac-b274-42a7-ba4a-e772271d6f7a" SortOrder="1">enkelVeiledning</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6a478ba4-2600-41ef-afde-cd6b089c676b</Key>
      <Name>Merkelapp på eksempelkort</Name>
      <Alias>eksempelKortTag</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tekst på merkelappen på eksempelkortene i "Lær av andre". Standard: Eksempel]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="laerAvAndre">Lær av andre</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9b726e14-d862-4cf6-a737-4625df842f2e</Key>
      <Name>Hero-bilde</Name>
      <Alias>heroBilde</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>30291a19-564c-4213-808c-7e5e6ce7a031</Key>
      <Name>Hero-label</Name>
      <Alias>heroLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>21095ba1-ba34-4e93-becc-3f48ac4f9f71</Key>
      <Name>Hero-tekst</Name>
      <Alias>heroTekst</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9b347a9d-668d-49be-9c7f-5931aaa660b0</Key>
      <Name>Hero-tittel</Name>
      <Alias>heroTittel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>13c4da12-2746-4f02-b468-380103e0ff5e</Key>
      <Name>Kort</Name>
      <Alias>seksjon1Kort</Alias>
      <Definition>a739d03f-0eef-43dd-9f64-62b924d2e576</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seksjon1">Fremhevet veiledning og artikler</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0d4ce631-0d58-482e-88dd-9190cc62310e</Key>
      <Name>Tittel</Name>
      <Alias>seksjon1Tittel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seksjon1">Fremhevet veiledning og artikler</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1a05b1d2-4953-4c0e-bf47-0d93a17b1a08</Key>
      <Name>Kort</Name>
      <Alias>seksjon2Kort</Alias>
      <Definition>a739d03f-0eef-43dd-9f64-62b924d2e576</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seksjon2">Rik liste</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>316b9b03-5ec4-45a8-adf4-5ad9cadc4c04</Key>
      <Name>Tittel</Name>
      <Alias>seksjon2Tittel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seksjon2">Rik liste</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6bf3d9cc-4312-4882-967d-11922d747320</Key>
      <Name>Kort</Name>
      <Alias>seksjon3Kort</Alias>
      <Definition>a739d03f-0eef-43dd-9f64-62b924d2e576</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seksjon3">Enkel liste</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>db74d90d-fadc-412d-8509-0808e39af4e2</Key>
      <Name>Tittel</Name>
      <Alias>seksjon3Tittel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seksjon3">Enkel liste</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c0fc85f1-2fe1-41c2-b171-d5db677e89e6</Key>
      <Name>SEO-beskrivelse</Name>
      <Alias>seoBeskrivelse</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overstyr beskrivelse i søkeresultater og sosiale medier]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ef78f4f-aaf9-4b4d-b68d-162bc1f06006</Key>
      <Name>SEO-bilde</Name>
      <Alias>seoBilde</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bilde som vises ved deling på sosiale medier]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9e67a239-1a2d-48ea-96be-a5e504412baa</Key>
      <Name>SEO-tittel</Name>
      <Alias>seoTittel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Overstyr tittel i søkeresultater og sosiale medier]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2aa0f815-5400-4c51-9ace-f895f735e22c</Key>
      <Caption>Lær av andre</Caption>
      <Alias>laerAvAndre</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>765f04b8-66c6-43e8-b362-fb75748bacfd</Key>
      <Caption>Fremhevet veiledning og artikler</Caption>
      <Alias>seksjon1</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>bad4ea15-83c3-4908-a15d-b544d24b910a</Key>
      <Caption>Enkel liste</Caption>
      <Alias>seksjon3</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>bcba015f-f2ec-4ffe-a941-6eae19348da9</Key>
      <Caption>Hero</Caption>
      <Alias>hero</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c77283d8-ef95-4fb2-a7c2-1814ad15a32a</Key>
      <Caption>SEO</Caption>
      <Alias>sEO</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>e465da61-c193-4ea1-9615-f9457307700a</Key>
      <Caption>Rik liste</Caption>
      <Alias>seksjon2</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>