<?xml version="1.0" encoding="utf-8"?>
<DataType Key="824eeeb2-5af4-4990-afbf-444707f56c24" Alias="Artikkelhode Bakgrunn" Level="1">
  <Info>
    <Name>Artikkelhode Bakgrunn</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "hvit",
    "lyseblaa"
  ]
}]]></Config>
</DataType>