<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55043cae-9d13-4015-b915-789d02b4b825" Alias="Artikkelhode Bakgrunnsfarge" Level="1">
  <Info>
    <Name>Artikkelhode Bakgrunnsfarge</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "e9c0c8",
      "label": "Accent"
    },
    {
      "value": "dfc2d4",
      "label": "Brand 1"
    },
    {
      "value": "e2d8d2",
      "label": "Brand 2"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>