<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1fa4902-4bcb-4cd3-bf37-e161ef261829" Alias="Block List - Artikkel Innhold" Level="1">
  <Info>
    <Name>Block List - Artikkel Innhold</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f73e3f18-32a0-4510-b648-b37f8617d00d"
    },
    {
      "contentElementTypeKey": "ce12b6e8-d132-4020-909f-38caf8f16432"
    },
    {
      "contentElementTypeKey": "140bb9c4-128f-4a47-9e69-13f54b3624d4"
    },
    {
      "contentElementTypeKey": "b28f5062-d22a-4a5b-a3bf-4d2e9f95bf62"
    },
    {
      "contentElementTypeKey": "611fcad5-29c4-4693-a4a7-b15eb31c6856"
    },
    {
      "contentElementTypeKey": "67f75636-a05a-4b41-ba25-f10e568a3130"
    },
    {
      "contentElementTypeKey": "c00eb55f-c29d-497f-a67b-01ef00b4865f"
    },
    {
      "contentElementTypeKey": "5a89452e-4dbc-4244-a763-14fb810bb8bb"
    }
  ]
}]]></Config>
</DataType>