<?xml version="1.0" encoding="utf-8"?>
<DataType Key="07b4851e-9f92-49a2-aa74-d57bb0a24d6d" Alias="Block List - Tips" Level="1">
  <Info>
    <Name>Block List - Tips</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a7e06ab4-fe51-47e9-8edb-e903b7366a55"
    }
  ]
}]]></Config>
</DataType>