<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5388285c-ecab-47f1-98e6-44551ba0440e" Alias="Block List - Veiledning Guide" Level="1">
  <Info>
    <Name>Block List - Veiledning Guide</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5c9b4b05-4fb3-42c0-b412-068cfd8b2e98",
      "label": "{umbValue: innhold | stripHtml | wordLimit:12}"
    },
    {
      "contentElementTypeKey": "9aebec16-a0fb-4a4e-aa7d-4edec4e3ba7c",
      "label": "{umbValue: tittel | fallback:Trekkspill}"
    },
    {
      "contentElementTypeKey": "8ba6a4aa-37f9-4ba5-9305-38b926c35099",
      "label": "{umbValue: tittel | fallback:Obs}"
    }
  ]
}]]></Config>
</DataType>