<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1c48978-c80c-4540-b5f5-da4d77578bb4" Alias="Block List - Eksempel Innhold" Level="1">
  <Info>
    <Name>Block List - Eksempel Innhold</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c5ddaf44-3abe-41a7-8b47-e1b82c66d95e",
      "label": "{umbValue: innhold | stripHtml | wordLimit:12}"
    },
    {
      "contentElementTypeKey": "c063d005-38e9-4469-93f7-0dd71d961a76",
      "label": "{umbValue: bildetekst | fallback:Bilde}"
    },
    {
      "contentElementTypeKey": "f6e6bb2f-ea53-4462-8a15-ea4382de55f0",
      "settingsElementTypeKey": "65cb2117-645a-46af-b2ac-625492d575be"
    },
    {
      "contentElementTypeKey": "4b3cac2f-623b-46ac-a3d4-8caf0276fdf1",
      "label": "{umbValue: tekst | stripHtml | wordLimit:12}"
    },
    {
      "contentElementTypeKey": "250deaaf-6798-41f2-a4c4-4e2a2fc23de2"
    },
    {
      "contentElementTypeKey": "e44ec3b2-10f6-4494-a36b-5177bbc74c45"
    },
    {
      "contentElementTypeKey": "307e019a-bbcf-4211-a09a-ffce2d52d011"
    },
    {
      "contentElementTypeKey": "d8b6c846-e796-4e70-afd3-2ca356a0990b",
      "label": "{umbValue: navn | fallback:Kontaktkort}"
    }
  ]
}]]></Config>
</DataType>