<?xml version="1.0" encoding="utf-8"?>
<DataType Key="176c32ca-ed96-48a3-8999-ebccb802bf79" Alias="Block List - Om Oss Seksjoner" Level="1">
  <Info>
    <Name>Block List - Om Oss Seksjoner</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "00990345-eb98-4e2a-8eef-0a1e45a5e7ed"
    }
  ]
}]]></Config>
</DataType>