<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3822189c-de95-4aea-b6a1-47012fcffb41" Alias="Block List - Forside Forstå Lenker" Level="1">
  <Info>
    <Name>Block List - Forside Forstå Lenker</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "54f34e34-425b-48b5-a7a8-5764272f2ee0"
    }
  ]
}]]></Config>
</DataType>