<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3d6431ea-42a2-4e89-8f8c-e7b1313047f8" Alias="Block List - Prosessteg Items" Level="1">
  <Info>
    <Name>Block List - Prosessteg Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "60a48165-34ef-47b7-a43c-87f214ad29de"
    }
  ]
}]]></Config>
</DataType>