<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48d55292-69ed-4406-b0be-18ed70984501" Alias="Block List - Om Oss Seksjoner" Level="1">
  <Info>
    <Name>Block List - Om Oss Seksjoner</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a258eab8-4814-40ee-a228-2d032b1cde82"
    }
  ]
}]]></Config>
</DataType>