<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9181a182-51c0-4671-97e6-4dbfa7f6b370" Alias="Block List - Verktøy Kort" Level="1">
  <Info>
    <Name>Block List - Verktøy Kort</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5f508908-970f-474a-a648-b679b899533f"
    }
  ]
}]]></Config>
</DataType>