<?xml version="1.0" encoding="utf-8"?>
<DataType Key="670ee678-2ff8-4cbf-aabe-e685cfbe75bc" Alias="Block List - Veiledning Kort" Level="1">
  <Info>
    <Name>Block List - Veiledning Kort</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "826cab20-67c3-4c22-8411-443bfb1e0d5a"
    }
  ]
}]]></Config>
</DataType>