<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0680599-6c2c-4ea9-94c1-26c9b2033c9f" Alias="Block List - Forside Eksempelkort" Level="1">
  <Info>
    <Name>Block List - Forside Eksempelkort</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "999414cd-60d9-4072-bec8-e9f653936d7c"
    }
  ]
}]]></Config>
</DataType>