<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c04cfa84-b255-4c1c-a9fd-6d0ca40ba34d" Alias="Block List - Prosessteg Items" Level="1">
  <Info>
    <Name>Block List - Prosessteg Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b1972c37-a01f-41a1-ae90-73b2e4ce95c8"
    }
  ]
}]]></Config>
</DataType>