<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4a54620-3aac-4d24-ab36-27d70c8af7c9" Alias="Block List - Tips" Level="1">
  <Info>
    <Name>Block List - Tips</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1bfc5768-b22a-48f4-8507-934258ed46e8"
    }
  ]
}]]></Config>
</DataType>