<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a739d03f-0eef-43dd-9f64-62b924d2e576" Alias="Block List - Veiledning Kort" Level="1">
  <Info>
    <Name>Block List - Veiledning Kort</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1bda8e30-7b48-4593-9f2e-8b965e491a0b"
    }
  ]
}]]></Config>
</DataType>