<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0e805646-0c16-4208-a701-dd6f02201a5a" Alias="Block List - Accordion Sections" Level="1">
  <Info>
    <Name>Block List - Accordion Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ef322b5e-8b79-4a6f-83e3-1a17243d8bcb"
    }
  ]
}]]></Config>
</DataType>