<?xml version="1.0" encoding="utf-8"?>
<DataType Key="12ba60c5-b0bc-4ea6-8a13-1d6d0d8c2daf" Alias="Block List - Veiledning Steg" Level="1">
  <Info>
    <Name>Block List - Veiledning Steg</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5c9b4b05-4fb3-42c0-b412-068cfd8b2e98",
      "label": "{umbValue: innhold | stripHtml | wordLimit:12}"
    },
    {
      "contentElementTypeKey": "dc92d80c-1bb4-4525-b03a-111a96016a53",
      "label": "{umbValue: tittel | fallback:Info}"
    },
    {
      "contentElementTypeKey": "798cd93a-8199-403a-a728-edc3a41b10a1",
      "label": "{umbValue: tittel | fallback:Eksempel}"
    },
    {
      "contentElementTypeKey": "8ba6a4aa-37f9-4ba5-9305-38b926c35099",
      "label": "{umbValue: tittel | fallback:Obs}"
    },
    {
      "contentElementTypeKey": "9aebec16-a0fb-4a4e-aa7d-4edec4e3ba7c",
      "label": "{umbValue: tittel | fallback:Trekkspill}"
    }
  ]
}]]></Config>
</DataType>