<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9719cb7-dfb5-464a-8b06-b1a84c5c89fc" Alias="Block List - Accordion Sections" Level="1">
  <Info>
    <Name>Block List - Accordion Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "405c4ebf-1cb8-4a9c-aae2-2ee426ba760f"
    }
  ]
}]]></Config>
</DataType>