<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ddb7000e-1391-49e3-afb8-31862debd881" Alias="Block List - Eksempler Seksjoner" Level="1">
  <Info>
    <Name>Block List - Eksempler Seksjoner</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "db3ab525-e80d-45ba-8b65-b090db99a783"
    },
    {
      "contentElementTypeKey": "c0a6d510-6451-4867-b8e9-8df04f041769"
    },
    {
      "contentElementTypeKey": "97e56431-0731-4c67-a68a-a52a210f02b6"
    },
    {
      "contentElementTypeKey": "2307b37a-5967-4b2b-ac9e-54e3990e6ac4"
    }
  ]
}]]></Config>
</DataType>