<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c00700c4-edec-460d-8183-638365e8e1cc" Alias="Block List - Forside Seksjoner" Level="1">
  <Info>
    <Name>Block List - Forside Seksjoner</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "956fc6c9-a077-43c1-9f48-98f9d5f9e05f"
    },
    {
      "contentElementTypeKey": "68871e1d-b635-4918-9c65-04bf3910c619"
    },
    {
      "contentElementTypeKey": "75a81881-118a-477c-a222-b86521717e18"
    },
    {
      "contentElementTypeKey": "26de029e-00f2-4e58-b233-2962c6290589"
    },
    {
      "contentElementTypeKey": "dbfcac22-3861-482e-89bf-aaed40357728"
    },
    {
      "contentElementTypeKey": "89df006d-6f46-4909-a34d-f4c1fb17cfa5"
    },
    {
      "contentElementTypeKey": "a02b9c45-941c-46d3-850b-c25818de9c65"
    }
  ]
}]]></Config>
</DataType>