<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc120566-2cf9-4f95-b623-25c191b189f8" Alias="Block List - Forside Artikkelkort" Level="1">
  <Info>
    <Name>Block List - Forside Artikkelkort</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "db79563e-d5cb-4325-b0a2-ffca880c7621"
    }
  ]
}]]></Config>
</DataType>