<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3655b796-f129-4c08-a962-bd0fc7481c0a" Alias="Block List - Artikler Seksjoner" Level="1">
  <Info>
    <Name>Block List - Artikler Seksjoner</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "17f3575a-ce60-4d9d-9cad-1e9fb73e3e9c"
    },
    {
      "contentElementTypeKey": "b4b298e1-37c4-4c5d-a443-d3ade3bad888"
    },
    {
      "contentElementTypeKey": "ac5871bc-864d-4d27-bf23-1c9d7cb46a01"
    }
  ]
}]]></Config>
</DataType>