<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b776f85f-f33e-4d14-841f-9f1405392303" Alias="Callout Variant" Level="1">
  <Info>
    <Name>Callout Variant</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "info",
    "obs",
    "advarsel",
    "suksess"
  ]
}]]></Config>
</DataType>