<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee12c00a-8c27-48bd-b702-8cb57e55bbbc" Alias="Callout Variant" Level="1">
  <Info>
    <Name>Callout Variant</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "info",
    "obs",
    "advarsel",
    "suksess"
  ]
}]]></Config>
</DataType>