<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c48542f-9b60-4912-9195-beca90e96580" Alias="KI-type" Level="1">
  <Info>
    <Name>KI-type</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tags</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "group": "kiType",
  "storageType": "Json"
}]]></Config>
</DataType>